[submodule "project/thirdparty/glm"]
	path = project/thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "project/thirdparty/glfw"]
	path = project/thirdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "project/thirdparty/assimp"]
	path = project/thirdparty/assimp
	url = https://github.com/assimp/assimp
[submodule "project/thirdparty/openal-soft"]
	path = project/thirdparty/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "project/thirdparty/libsndfile"]
	path = project/thirdparty/libsndfile
	url = https://github.com/libsndfile/libsndfile
